*{
    margin : 10px;
    padding: 10px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background:  linear-gradient(140deg, rgba(0, 0, 0, 0.881) 0%, 
    rgba(42, 20, 43, 0.885) 35%, rgb(28, 0, 39) 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a0101;
    text-align: center;
    padding: 30px;
}
.container {
    background-color: rgba(3, 0, 4, 0.917);
    border-radius: 50px;
    box-shadow: 0 20px 60px 0 rgb(29, 1, 1);
    max-width: 800px;
    width: 90%;
    padding: 80px;
}   
h1 {
    color: rgb(143, 10, 130);
    margin-bottom: 25px;
    font-size: 40px;
    text-align: center;
}
.subtitulo {
    color: rgb(143, 10, 130);
    font-size: 30px;
    margin-bottom: 0px;
    text-align: center;
}
.form-group {
    margin-bottom: 10px;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
    color: rgb(143, 10, 130);
    font-weight: 300;
    font-size: 20px;
}
select {
    width: 100%;
    padding: 15px;
    border: 2px solid #d000ff;
    border-radius: 10px;
    font-size: 8px;
    transition: all 0.5s;
    background-color: #7b069f;
    cursor: pointer;
}
select:focus {
    border-color: #a30300;
    outline: none;
}
button {
    width: 70%;
    background: linear-gradient(140deg, #d600fc 0%, #38013a 100%);
    color: rgba(0, 0, 0, 0.785);
    border: 0ch;
    border-radius: 60px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition: transform 1s;
}

button:hover {
    transform: translateY(-4px);
}
button:active {
    transform: translateY(0px);
}
.resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(173, 37, 218, 0.596);
    border-radius: 20px;
    box-shadow: 0 10px 30px 0 rgb(7, 0, 0);
    display: none;
}
.resultado.show {
    display: block;
    animation:alternate 1s;
}
@keyframes show {
    from {
        opacity: 0;
        transform: translateY(0px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.valores {
    justify-content: space-between;
    padding: 12px 0px;
    margin: 15px 0;
    border-bottom: 1px solid #000000;
}
.valores:last-child {

    border-bottom: none;
}
.valor_label {
    font-size: 20px;
    font-weight: 600;
    color: rgb(15, 15, 15);
}
.total{
    background: linear-gradient(140deg, #bc07f4 0%, #20012b15 100%);
    color: #000000;
    padding: 15px;
    border-radius: 20px;
    margin-top: 20px;
}
.total .valor_value {
    color: #000000;
    font-size: 20px;
}
.badge{
    display: inline-block;
    padding: 4px 8px;
    border-radius: 40px;
    font-size: 10px;
    font-weight: 600;
    margin-left: 10px;
}
.badge-descuento{
    background-color: #001104;
    color: #1f0606;
}
.badge-recargo{
    background-color: #2a0000;
    color: #1f0606;
}